[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
psycopg = {extras = ["binary"], version = "*"}
icecream = "*"
tzlocal = "*"

[dev-packages]

[requires]
python_version = "3.11"
